.nav-item{
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    font-family: 'Playfair Display SC', serif;
    
    font-size: 20px;
  }

  .nav-item a:link{
    color: #000;
    background-color: transparent;
    text-decoration: none;
  }
  
  #navbarmain{
    
    padding-right: 150px;
    padding-left: 80px;
  }
  
  .navbarlogo img{
    width: 170px;
    height: 80px;
  }

  .navbar-toggler{
    border: none;
  }


.aboutsection .card-title{
    font-size: 70px;
    font-family: 'Playfair Display SC', serif;
}

.aboutsection .col-sm-9{
    padding-left: 130px;
    padding-right: 50px;
    
}

.aboutsection .card-text{
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
}

.aboutsection .row {
    margin-right: none;
}



.services {
    padding-top: 80px;
    padding-left: 350px;
}

.services .card-title{
    font-size: 70px;
    font-family: 'Playfair Display SC', serif;
    padding-left: 30px;
    padding-right: 10px;
}

.services h3{
    font-family: 'Krub', sans-serif;
    padding-bottom: 50px;
}



.companyservices {
    border: none;
}


footer h1{
    font-family: 'Playfair Display SC', serif;
}



footer .companyname p{
    font-size: 22px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}


footer .companyname .companynameend{
    font-size: 13px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

footer .companyaddress p{
    text-align: center;
}



footer .footerheading h1 i{
    font-size: 45px;
}

footer .companyicons i{
    padding-left: 40px;
}

footer .companyicons{
    padding-top: 40px;
    padding-left: 200px;
}


.bg-dark {
    background-color: #5b5b5b30!important;
}



/* media queries */

@media only screen and (max-width: 2560px) and (min-width: 2401px) {

    .nav-item{
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        
        font-size: 25px;
    }

    #navbarmain{
    
        padding-right: 130px;
        padding-left: 60px;
    }

    .navbar-nav{
        padding-left: 60vw;
    }

    .aboutsection .card-title{
        font-size: 90px;
    }

    .aboutsection .card-text{
        font-size: 35px;
    }

    .aboutsection .team-card-title{
        font-size: 30px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .services {
        padding-top: 50px;
        padding-left: 200px;
    }
    
    .services .card-title{
        font-size: 90px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }

    .subservices img{
        width: 220px;
        height: 220px;
    }

    .subservices .card-title{
        font-size: 30px;
    }

    .subservices .lefttwo{
        padding-left: 180px;
    }

    .subservices .righttwo{
        padding-right: 180px;
        wi
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }
    
    footer .companyaddress p{
        font-size: 21px;
    }
    
    footer .companyicons i{
      font-size: 25px;
    }
    
    footer .copyright{
      font-size: 20px;
    }


    
}

@media only screen and (max-width: 2400px) and (min-width: 2201px) {
    .nav-item{
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        
        font-size: 25px;
    }

    #navbarmain{
    
        padding-right: 130px;
        padding-left: 60px;
    }

    .navbar-nav{
        padding-left: 55vw;
    }

    .aboutsection .card-title{
        font-size: 90px;
    }

    .aboutsection .card-text{
        font-size: 35px;
    }

    .aboutsection .team-card-title{
        font-size: 30px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .services {
        padding-top: 50px;
        padding-left: 350px;
    }
    
    .services .card-title{
        font-size: 90px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }
    
    footer .companyaddress p{
        font-size: 21px;
    }
    
    footer .companyicons i{
      font-size: 25px;
    }
    
    footer .copyright{
      font-size: 20px;
    }
}

@media only screen and (max-width: 2200px) and (min-width: 2001px) {
    .nav-item{
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        
        font-size: 25px;
    }

    #navbarmain{
    
        padding-right: 130px;
        padding-left: 60px;
    }

    .navbar-nav{
        padding-left: 50vw;
    }

    .aboutsection .card-title{
        font-size: 90px;
    }

    .aboutsection .card-text{
        font-size: 28px;
    }

    .aboutsection .team-card-title{
        font-size: 25px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    
    .services {
        padding-top: 50px;
        padding-left: 250px;
    }
    
    .services .card-title{
        font-size: 90px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 80px;
        padding-left: 250px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }
    
    footer .companyaddress p{
        font-size: 21px;
    }
    
    footer .companyicons i{
      font-size: 25px;
    }
    
    footer .copyright{
      font-size: 20px;
    }
}

@media only screen and (max-width: 2000px) and (min-width: 1901px) {
    .nav-item{
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        
        font-size: 25px;
    }

    #navbarmain{
    
        padding-right: 130px;
        padding-left: 60px;
    }

    .navbar-nav{
        padding-left: 45vw;
    }

    .aboutsection .card-title{
        font-size: 90px;
    }

    .aboutsection .card-text{
        font-size: 26px;
    }

    .aboutsection .team-card-title{
        font-size: 25px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 180px;
        width: 180px;
    }

    .services {
        padding-top: 50px;
        padding-left: 200px;
    }
    
    .services .card-title{
        font-size: 90px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 80px;
        padding-left: 250px;
    }
    
    .companyservices .card-text{
        font-size: 26px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 300px;
    }

    .services .card-text{
        font-size: 26px;
    }

    .subservices .servicestitle{
        font-size: 25px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 200px;
        width: 200px;
    }
    
    footer .companyaddress p{
        font-size: 21px;
    }
    
    footer .companyicons i{
      font-size: 25px;
    }
    
    footer .copyright{
      font-size: 20px;
    }
}

@media only screen and (max-width: 1900px) and (min-width: 1801px) {
    .nav-item{
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        
        font-size: 25px;
    }

    #navbarmain{
    
        padding-right: 130px;
        padding-left: 60px;
    }

    .navbar-nav{
        padding-left: 40vw;
    }

    .aboutsection .card-title{
        font-size: 80px;
    }

    .aboutsection .card-text{
        font-size: 26px;
    }

    .aboutsection .team-card-title{
        font-size: 22px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 180px;
        width: 180px;
    }

    .services {
        padding-top: 50px;
        padding-left: 200px;
    }
    
    .services .card-title{
        font-size: 80px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 80px;
        padding-left: 200px;
    }
    
    .companyservices .card-text{
        font-size: 26px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 200px;
    }

    .services .card-text{
        font-size: 26px;
    }

    .subservices .servicestitle{
        font-size: 25px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 200px;
        width: 200px;
    }
    
    footer .companyaddress p{
        font-size: 21px;
    }
    
    footer .companyicons i{
      font-size: 25px;
    }
    
    footer .copyright{
      font-size: 20px;
    }
}

@media only screen and (max-width: 1800px) and (min-width: 1701px) {
    .nav-item{
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        
        font-size: 25px;
    }

    #navbarmain{
    
        padding-right: 130px;
        padding-left: 60px;
    }

    .navbar-nav{
        padding-left: 40vw;
    }

    .aboutsection .card-title{
        font-size: 80px;
    }

    .aboutsection .card-text{
        font-size: 24px;
    }

    .aboutsection .team-card-title{
        font-size: 20px;
    }
    
    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 180px;
        width: 180px;
    }

    .services {
        padding-top: 50px;
        padding-left: 200px;
    }
    
    .services .card-title{
        font-size: 80px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 80px;
        padding-left: 200px;
    }
    
    .companyservices .card-text{
        font-size: 26px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 200px;
    }

    .services .card-text{
        font-size: 24px;
    }

    .subservices .servicestitle{
        font-size: 25px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 200px;
        width: 200px;
    }
    
    footer .companyaddress p{
        font-size: 21px;
    }
    
    footer .companyicons i{
      font-size: 25px;
    }
    
    footer .copyright{
      font-size: 20px;
    }
}

@media only screen and (max-width: 1700px) and (min-width: 1600px) {
    .nav-item{
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        
        font-size: 25px;
    }

    #navbarmain{
    
        padding-right: 130px;
        padding-left: 60px;
    }

    .navbar-nav{
        padding-left: 35vw;
    }

    .aboutsection .card-title{
        font-size: 70px;
    }

    .aboutsection .card-text{
        font-size: 24px;
    }

    .aboutsection .team-card-title{
        font-size: 20px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 180px;
        width: 180px;
    }

    .services {
        padding-top: 50px;
        padding-left: 200px;
    }
    
    .services .card-title{
        font-size: 70px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 80px;
        padding-left: 200px;
    }
    
    .companyservices .card-text{
        font-size: 26px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 200px;
    }

    .services .card-text{
        font-size: 24px;
    }

    .subservices .servicestitle{
        font-size: 25px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 200px;
        width: 200px;
    }
    
    footer .companyaddress p{
        font-size: 21px;
    }
    
    footer .companyicons i{
      font-size: 25px;
    }
    
    footer .copyright{
      font-size: 20px;
    }
} 
/* done */

@media only screen and (max-width: 1599px) and (min-width: 1500px) {
    .nav-item{
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        
        font-size: 20px;
    }

    #navbarmain{
    
        padding-right: 130px;
        padding-left: 60px;
    }

    .navbar-nav{
        padding-left: 35vw;
    }

    .aboutsection .card-title{
        font-size: 70px;
    }

    .aboutsection .card-text{
        font-size: 24px;
    }

    .aboutsection .team-card-title{
        font-size: 20px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 180px;
        width: 180px;
    }

    .services {
        padding-top: 50px;
        padding-left: 200px;
    }
    
    .services .card-title{
        font-size: 70px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 50px;
        padding-left: 200px;
    }
    
    .companyservices .card-text{
        font-size: 26px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 200px;
    }

    .services .card-text{
        font-size: 24px;
    }

    .subservices .servicestitle{
        font-size: 25px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 200px;
        width: 200px;
    }
    
    footer .companyaddress p{
        font-size: 21px;
    }
    
    footer .companyicons i{
      font-size: 25px;
    }
    
    footer .copyright{
      font-size: 20px;
    }
}


@media only screen and (max-width: 1499px) and (min-width: 1351px) {
    .nav-item{
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        
        font-size: 20px;
    }

    #navbarmain{
    
        padding-right: 130px;
        padding-left: 60px;
    }

    .navbar-nav{
        padding-left: 35vw;
    }

    .aboutsection .card-title{
        font-size: 60px;
    }

    .aboutsection .card-text{
        font-size: 22px;
    }

    .aboutsection .team-card-title{
        font-size: 18px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 180px;
        width: 180px;
    }

    .services {
        padding-top: 50px;
        padding-left: 200px;
    }
    
    .services .card-title{
        font-size: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 50px;
        padding-left: 130px;
    }
    
    .companyservices .card-text{
        font-size: 22px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 150px;
    }

    .services .card-text{
        font-size: 22px;
    }

    .subservices .servicestitle{
        font-size: 20px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 150px;
        width: 150px;
    }
    
    footer .companyaddress p{
        font-size: 21px;
    }
  
    footer .companyicons i{
        font-size: 20px;
    }
  
    footer .companyicons i{
        padding-left: 20px;
    }
  
    footer .copyright{
        font-size: 20px;
    }
}

@media only screen and (max-width: 1350px) and (min-width: 1200px) {
    .nav-item{
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        
        font-size: 18px;
    }

    #navbarmain{
    
        padding-right: 130px;
        padding-left: 60px;
    }

    .navbar-nav{
        padding-left: 35vw;
    }

    .aboutsection .card-title{
        font-size: 50px;
    }

    .aboutsection .card-text{
        font-size: 18px;
    }

    .aboutsection .team-card-title{
        font-size: 15px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .aboutsection .col-sm-2 .card-body {
        padding: 0;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 180px;
        width: 180px;
    }

    .services {
        padding-top: 50px;
        padding-left: 200px;
    }
    
    .services .card-title{
        font-size: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 30px;
        padding-left: 130px;
    }
    
    .companyservices .card-text{
        font-size: 22px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 150px;
    }

    .services .card-text{
        font-size: 18px;
    }

    .subservices .servicestitle{
        font-size: 20px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 150px;
        width: 150px;
    }
    
    footer .companyaddress p{
        font-size: 21px;
    }
  
    footer .companyicons i{
        font-size: 20px;
    }
  
    footer .companyicons i{
        padding-left: 20px;
    }
  
    footer .copyright{
        font-size: 20px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 1070px) {
    .nav-item{
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        
        font-size: 18px;
    }

    #navbarmain{
    
        padding-right: 130px;
        padding-left: 60px;
    }

    .navbar-nav{
        padding-left: 27vw;
    }

    .navbarlogo img{
        width: 150px;
        height: 70px;
    }

    .aboutsection .card-title{
        font-size: 50px;
    }

    .aboutsection .card-text{
        font-size: 18px;
    }

    .aboutsection .team-card-title{
        font-size: 15px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .aboutsection .col-sm-2 .card-body {
        padding: 0;
    }

    .aboutsection .col-sm-2 {
        padding-right: calc(var(--bs-gutter-x) * 0);
        padding-left: calc(var(--bs-gutter-x) * 0);
    }

    .aboutsection .col-sm-9 {
        padding-left: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 150px;
        width: 150px;
    }
    
    .subservices{
        padding-left: 250px;
        padding-right: 250px;
    }

    .services .card-title{
        font-size: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 30px;
        padding-left: 80px;
    }
    
    .companyservices .card-text{
        font-size: 22px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 100px;
    }

    .services .card-text{
        font-size: 18px;
    }

    .subservices .servicestitle{
        font-size: 17px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }
    
    footer .companyaddress p{
        font-size: 18px;
    }
  
    footer .companyicons i{
        font-size: 16px;
        padding-left: 10px;
    }
  
    footer .copyright{
        font-size: 20px;
    }
}

@media only screen and (max-width: 1069px) and (min-width: 1024px) {
    .nav-item{
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        
        font-size: 18px;
    }

    #navbarmain{
    
        padding-right: 130px;
        padding-left: 60px;
    }

    .navbar-nav{
        padding-left: 27vw;
    }

    .navbarlogo img{
        width: 150px;
        height: 70px;
    }

    .aboutsection .card-title{
        font-size: 50px;
    }

    .aboutsection .card-text{
        font-size: 18px;
    }

    .aboutsection .team-card-title{
        font-size: 15px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .aboutsection .col-sm-2 .card-body {
        padding: 0;
    }

    .aboutsection .col-sm-2 {
        padding-right: calc(var(--bs-gutter-x) * 0);
        padding-left: calc(var(--bs-gutter-x) * 0);
    }

    .aboutsection .col-sm-9 {
        padding-left: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 150px;
        width: 150px;
    }
    
    .subservices{
        padding-left: 250px;
        padding-right: 250px;
    }

    .services .card-title{
        font-size: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 30px;
        padding-left: 80px;
    }
    
    .companyservices .card-text{
        font-size: 22px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 100px;
    }

    .services .card-text{
        font-size: 18px;
    }

    .subservices .servicestitle{
        font-size: 17px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }
    
    footer .companyaddress p{
        font-size: 18px;
    }
  
    footer .companyicons i{
        font-size: 16px;
        padding-left: 10px;
    }
  
    footer .copyright{
        font-size: 20px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 992px) {
    .nav-item{
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        
        font-size: 18px;
    }

    #navbarmain{
    
        padding-right: 130px;
        padding-left: 60px;
    }

    .navbar-nav{
        padding-left: 25vw;
    }

    .navbarlogo img{
        width: 150px;
        height: 70px;
    }

    .aboutsection .card-title{
        font-size: 45px;
    }

    .aboutsection .card-text{
        font-size: 18px;
    }

    .aboutsection .team-card-title{
        font-size: 15px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .aboutsection .col-sm-2 .card-body {
        padding: 0;
    }

    .aboutsection .col-sm-2 {
        padding-right: calc(var(--bs-gutter-x) * 0);
        padding-left: calc(var(--bs-gutter-x) * 0);
    }

    .aboutsection .col-sm-9 {
        padding-left: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 150px;
        width: 150px;
    }
    
    .subservices{
        padding-left: 250px;
        padding-right: 250px;
    }

    .services .card-title{
        font-size: 45px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 30px;
        padding-left: 80px;
    }
    
    .companyservices .card-text{
        font-size: 22px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 100px;
    }

    .services .card-text{
        font-size: 18px;
    }

    .subservices .servicestitle{
        font-size: 17px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }
    
    footer .companyaddress p{
        font-size: 18px;
    }
  
    footer .companyicons i{
        font-size: 16px;
        padding-left: 10px;
    }
  
    footer .copyright{
        font-size: 20px;
    }
}


@media only screen and (max-width: 991px) and (min-width: 880px) {
    .nav-item{
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        
        font-size: 18px;
    }

    #navbarmain{
    
        padding-right: 50px;
        padding-left: 60px;
    }

    .navbar-nav{
        padding-left: 0vw;
        align-items: center;
    }

    .navbarlogo img{
        width: 100px;
        height: 50px;
    }

    .aboutsection .card-body {
        padding: 0rem 0rem;
    }

    .aboutsection .card-title{
        font-size: 40px;
    }

    .aboutsection .card-text{
        font-size: 16px;
    }

    .aboutsection .team-card-title{
        font-size: 15px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .aboutsection .col-sm-2 .card-body {
        padding: 0;
    }

    .aboutsection .col-sm-2 {
        padding-right: calc(var(--bs-gutter-x) * 0);
        padding-left: calc(var(--bs-gutter-x) * 0);
    }

    .aboutsection .col-sm-9 {
        padding-left: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 120px;
        width: 120px;
    }
    
    .subservices{
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 50px;
    }

    .services .card-title{
        font-size: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 30px;
        padding-left: 80px;
    }
    
    .companyservices .card-text{
        font-size: 22px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 80px;
    }

    .services .card-text{
        font-size: 16px;
    }

    .subservices .servicestitle{
        font-size: 15px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }
    
    footer .companyaddress p{
        font-size: 18px;
    }
  
    footer .companyicons i{
        font-size: 16px;
        padding-left: 10px;
    }
  
    footer .copyright{
        font-size: 15px;
    }

    footer .footerheading{
        display: none;
    }

    footer .companyicons{
        padding-top: 10px;
        padding-left: 0px;
    }
}

@media only screen and (max-width: 879px) and (min-width: 768px) {
    .nav-item{
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        
        font-size: 18px;
    }

    #navbarmain{
    
        padding-right: 50px;
        padding-left: 60px;
    }

    .navbar-nav{
        padding-left: 0vw;
        align-items: center;
    }

    .navbarlogo img{
        width: 100px;
        height: 50px;
    }

    .aboutsection .card-body {
        padding: 0rem 0rem;
    }

    .aboutsection .card-title{
        font-size: 37px;
    }

    .aboutsection .card-text{
        font-size: 16px;
    }

    .aboutsection .team-card-title{
        font-size: 15px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .aboutsection .col-sm-2 .card-body {
        padding: 0;
    }

    .aboutsection .col-sm-2 {
        padding-right: calc(var(--bs-gutter-x) * 0);
        padding-left: calc(var(--bs-gutter-x) * 0);
    }

    .aboutsection .col-sm-9 {
        padding-left: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 120px;
        width: 120px;
    }
    
    .subservices{
        padding-left: 170px;
        padding-right: 170px;
        padding-bottom: 50px;
    }

    .services .card-title{
        font-size: 37px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 30px;
        padding-left: 80px;
    }
    
    .companyservices .card-text{
        font-size: 22px;
    }

    .services .card-body{
        padding-left: 50px;
        padding-right: 80px;
    }

    .services .card-text{
        font-size: 16px;
    }

    .subservices .servicestitle{
        font-size: 15px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }
    
    footer .companyaddress p{
        font-size: 18px;
    }
  
    footer .companyicons i{
        font-size: 16px;
        padding-left: 10px;
    }
  
    footer .copyright{
        font-size: 15px;
    }

    footer .footerheading{
        display: none;
    }

    footer .companyicons{
        padding-top: 10px;
        padding-left: 0px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
    .nav-item{
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        
        font-size: 18px;
    }

    #navbarmain{
    
        padding-right: 50px;
        padding-left: 60px;
    }

    .navbar-nav{
        padding-left: 0vw;
        align-items: center;
    }

    .navbarlogo img{
        width: 100px;
        height: 50px;
    }

    .aboutsection .card-body {
        padding: 0rem 0rem;
    }

    .aboutsection .card-title{
        font-size: 37px;
    }

    .aboutsection .card-text{
        font-size: 16px;
    }

    .aboutsection .team-card-title{
        font-size: 15px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .aboutsection .col-sm-2 .card-body {
        padding: 0;
    }

    .aboutsection .col-sm-2 {
        padding-right: calc(var(--bs-gutter-x) * 0);
        padding-left: calc(var(--bs-gutter-x) * 0);
    }

    .aboutsection .col-sm-9 {
        padding-left: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 120px;
        width: 120px;
    }
    
    .subservices{
        padding-left: 170px;
        padding-right: 170px;
        padding-bottom: 50px;
    }

    .services .card-title{
        font-size: 37px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 30px;
        padding-left: 65px;
    }
    
    .companyservices .card-text{
        font-size: 22px;
    }

    .services .card-body{
        padding-left: 0px;
        padding-right: 60px;
    }

    .services .card-text{
        font-size: 16px;
    }

    .subservices .servicestitle{
        font-size: 15px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }
    
    footer .companyaddress p{
        font-size: 18px;
    }
  
    footer .companyicons i{
        font-size: 16px;
        padding-left: 10px;
    }
  
    footer .copyright{
        font-size: 15px;
    }

    footer .footerheading{
        display: none;
    }

    footer .companyicons{
        padding-top: 5px;
        padding-left: 0px;
    }
}

@media only screen and (max-width: 575px) and (min-width: 425px) {
    .nav-item{
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        
        font-size: 18px;
    }

    #navbarmain{
    
        padding-right: 30px;
        padding-left: 30px;
    }

    .navbar-nav{
        padding-left: 0vw;
        align-items: center;
    }

    .navbarlogo img{
        width: 100px;
        height: 50px;
    }

    .aboutsection .card-body {
        padding: 0rem 0rem;
    }

    .aboutsection .card-title{
        font-size: 37px;
    }

    .aboutsection .card-text{
        font-size: 16px;
    }

    .aboutsection .team-card-title{
        font-size: 15px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .aboutsection .col-sm-2 .card-body {
        padding-left: 50px;
        padding-right: 50px;
    }

    .aboutsection .col-sm-2 {
        padding-right: calc(var(--bs-gutter-x) * 0);
        padding-left: calc(var(--bs-gutter-x) * 0);
        padding-top: 30px;
    }

    .aboutsection .col-sm-9 {
        padding-left: 50px;
        padding-right: 40px
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 120px;
        width: 120px;
    }
    
    .subservices{
        padding-left: 140px;
        padding-right: 140px;
        padding-bottom: 50px;
    }

    .subservices .row>* {
        padding-right: calc(var(--bs-gutter-x) * 0);
        padding-left: calc(var(--bs-gutter-x) * 0);
        margin-top: var(--bs-gutter-y);
    }

    .services .card-title{
        font-size: 37px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 30px;
        padding-left: 45px;
    }
    
    .companyservices .card-text{
        font-size: 22px;
    }

    .services .card-body{
        padding-left: 0px;
        padding-right: 40px;
    }

    .services .card-text{
        font-size: 16px;
    }

    .subservices .servicestitle{
        font-size: 15px;
    }

    .aboutsection .card-img-top{
        padding-left: 40px;
        padding-right: 40px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }
    
    footer .companyaddress p{
        font-size: 18px;
    }
  
    footer .companyicons i{
        font-size: 16px;
        padding-left: 10px;
    }
  
    footer .copyright{
        font-size: 15px;
    }

    footer .footerheading{
        display: none;
    }

    footer .companyicons{
        padding-top: 5px;
        padding-left: 0px;
    }
}

@media only screen and (max-width: 424px) and (min-width: 375px) {
    .nav-item{
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        
        font-size: 18px;
    }

    #navbarmain{
    
        padding-right: 20px;
        padding-left: 30px;
    }

    .navbar-nav{
        padding-left: 0vw;
        align-items: center;
    }

    .navbarlogo img{
        width: 100px;
        height: 50px;
    }

    .aboutsection .card-body {
        padding: 0rem 0rem;
    }

    .aboutsection .card-title{
        font-size: 37px;
    }

    .aboutsection .card-text{
        font-size: 16px;
    }

    .aboutsection .team-card-title{
        font-size: 15px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .aboutsection .col-sm-2 .card-body {
        padding-left: 50px;
        padding-right: 50px;
    }

    .aboutsection .col-sm-2 {
        padding-right: calc(var(--bs-gutter-x) * 0);
        padding-left: calc(var(--bs-gutter-x) * 0);
        padding-top: 30px;
    }

    .aboutsection .col-sm-9 {
        padding-left: 50px;
        padding-right: 40px
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 120px;
        width: 120px;
    }
    
    .subservices{
        padding-left: 140px;
        padding-right: 140px;
        padding-bottom: 50px;
    }

    .subservices .row>* {
        padding-right: calc(var(--bs-gutter-x) * 0);
        padding-left: calc(var(--bs-gutter-x) * 0);
        margin-top: var(--bs-gutter-y);
    }

    .services .card-title{
        font-size: 37px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 30px;
        padding-left: 45px;
    }
    
    .companyservices .card-text{
        font-size: 22px;
    }

    .services .card-body{
        padding-left: 0px;
        padding-right: 40px;
    }

    .services .card-text{
        font-size: 16px;
    }

    .subservices .servicestitle{
        font-size: 15px;
    }

    .aboutsection .card-img-top{
        padding-left: 40px;
        padding-right: 40px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }
    
    footer .companyaddress p{
        font-size: 18px;
    }
  
    footer .companyicons i{
        font-size: 16px;
        padding-left: 10px;
    }
  
    footer .copyright{
        font-size: 15px;
    }

    footer .footerheading{
        display: none;
    }

    footer .companyicons{
        padding-top: 5px;
        padding-left: 0px;
    }
}


@media only screen and (max-width: 374px) and (min-width: 320px) {
    .nav-item{
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        
        font-size: 18px;
    }

    #navbarmain{
    
        padding-right: 20px;
        padding-left: 30px;
    }

    .navbar-nav{
        padding-left: 0vw;
        align-items: center;
    }

    .navbarlogo img{
        width: 100px;
        height: 50px;
    }

    .aboutsection .card-body {
        padding: 0rem 0rem;
    }

    .aboutsection .card-title{
        font-size: 37px;
    }

    .aboutsection .card-text{
        font-size: 16px;
    }

    .aboutsection .team-card-title{
        font-size: 15px;
    }

    .aboutsection .row {
        margin-right: calc(var(--bs-gutter-x) * -0);
    }

    .aboutsection .col-sm-2 .card-body {
        padding-left: 50px;
        padding-right: 50px;
    }

    .aboutsection .col-sm-2 {
        padding-right: calc(var(--bs-gutter-x) * 0);
        padding-left: calc(var(--bs-gutter-x) * 0);
        padding-top: 30px;
    }

    .aboutsection .col-sm-9 {
        padding-left: 50px;
        padding-right: 40px
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 120px;
        width: 120px;
    }
    
    .subservices{
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 20px;
    }

    .subservices .row>* {
        padding-right: calc(var(--bs-gutter-x) * 0);
        padding-left: calc(var(--bs-gutter-x) * 0);
        margin-top: var(--bs-gutter-y);
    }

    .services .card-title{
        font-size: 37px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    .services {
        padding-top: 30px;
        padding-left: 35px;
    }
    
    .companyservices .card-text{
        font-size: 22px;
    }

    .services .card-body{
        padding-left: 0px;
        padding-right: 35px;
    }

    .services .card-text{
        font-size: 16px;
    }

    .subservices .servicestitle{
        font-size: 15px;
    }

    .aboutsection .card-img-top{
        padding-left: 40px;
        padding-right: 40px;
    }

    .bg-dark {
        background-color: #5b5b5b30!important;
    }
    
    footer .companyaddress p{
        font-size: 18px;
    }
  
    footer .companyicons i{
        font-size: 16px;
        padding-left: 10px;
    }
  
    footer .copyright{
        font-size: 15px;
    }

    footer .footerheading{
        display: none;
    }

    footer .companyicons{
        padding-top: 5px;
        padding-left: 0px;
    }
}