.nav-item{
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    
    font-size: 20px;
}

#navbarmain{
    
    padding-right: 150px;
    padding-left: 80px;
}

.about {
    padding-top: 80px;
    padding-left: 350px;
}

.about .card-title{
    font-size: 70px;
    font-family: 'Playfair Display SC', serif;
    padding-left: 30px;
    padding-right: 10px;
}

.about h3{
    font-family: 'Krub', sans-serif;
    padding-bottom: 50px;
}


.aboutfirst .card-text{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}


.aboutfirst {
    border: none;
}

.aboutfirst img:hover{
    filter: grayscale(100%);
} 

/* .companyteam{
    padding-left: 370px;
    padding-right: 360px;
    font-family: 'Raleway', sans-serif;
    
}


.companyteam .card-body h4{
    font-weight: 900;
} */

.companyteam img{
    width: 45%;
    display: inline;
}

.companyteam{
    padding-left: 100px;
    padding-right: 100px;
}

.companyteam .card{
    width: 800px;
    border: none;
}

.companyteam .firstteammember{
    padding-left: 80px;
}

.companyteam .secondteammember{
    padding-right: 80px;
}




.companyservices .card-title{
    font-size: 70px;
    font-family: 'Playfair Display SC', serif;
    padding-left: 350px;
    padding-right: 30px;
}

.companyservices .card-text{
    font-family: 'Krub', sans-serif;
    padding-left: 350px;
    padding-right: 350px;
}

.subservices{
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 100px;
    text-align: center;
    
}

.subservices .firstservice, .subservices .secondservice, 
.subservices .thirdservice, .subservices .fourthservice{
    height: 120px;
    width: 120px;
}

.subservices .servicestitle{
    font-family: 'Playfair Display SC', serif;
}

footer h1{
    font-family: 'Playfair Display SC', serif;
}



footer .companyname p{
    font-size: 22px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}


footer .companyname .companynameend{
    font-size: 13px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

footer .companyaddress p{
    text-align: center;
}



footer .footerheading h1 i{
    font-size: 45px;
}

footer .companyicons i{
    padding-left: 40px;
}

footer .companyicons{
    padding-top: 50px;
    padding-left: 200px;
}
