.nav-item{
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    
    font-size: 20px;
  }

  .nav-item a:link{
    color: #000;
    background-color: transparent;
    text-decoration: none;
  }
  
  #navbarmain{
    
    padding-right: 150px;
    padding-left: 80px;
  }
  
  .navbarlogo img{
    width: 170px;
    height: 80px;
  }

.about {
    padding-top: 80px;
    padding-left: 350px;
}

.about .card-title{
    font-size: 70px;
    font-family: 'Playfair Display SC', serif;
    padding-left: 30px;
    padding-right: 10px;
}

.about h3{
    font-family: 'Krub', sans-serif;
    padding-bottom: 50px;
}


.aboutfirst .card-text{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}


.aboutfirst {
    border: none;
}

.aboutfirst img:hover{
    filter: grayscale(100%);
} 

/* .companyteam{
    padding-left: 370px;
    padding-right: 360px;
    font-family: 'Raleway', sans-serif;
    
}


.companyteam .card-body h4{
    font-weight: 900;
} */



.services {
    padding-top: 80px;
    padding-left: 350px;
}

.services .card-title{
    font-size: 70px;
    font-family: 'Playfair Display SC', serif;
    padding-left: 30px;
    padding-right: 10px;
}

.services h3{
    font-family: 'Krub', sans-serif;
    padding-bottom: 50px;
}


.companyservices .card-text{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}


.companyservices {
    border: none;
}




.companyteam img{
    width: 45%;
    display: inline;
}

.companyteam{
    padding-left: 100px;
    padding-right: 100px;
}

.companyteam .card{
    width: 800px;
    border: none;
}

.companyteam .firstteammember{
    padding-left: 80px;
}

.companyteam .secondteammember{
    padding-right: 80px;
}




/* .companyservices .card-title{
    font-size: 70px;
    font-family: 'Playfair Display SC', serif;
    padding-left: 350px;
    padding-right: 30px;
}

.companyservices .card-text{
    font-family: 'Krub', sans-serif;
    padding-left: 350px;
    padding-right: 350px;
} */

.subservices{
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 100px;
    text-align: center;
    
}

.subservices .firstservice, .subservices .secondservice, 
.subservices .thirdservice, .subservices .fourthservice{
    height: 120px;
    width: 120px;
}

.subservices .servicestitle{
    font-family: 'Playfair Display SC', serif;
}

footer h1{
    font-family: 'Playfair Display SC', serif;
}



footer .companyname p{
    font-size: 22px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}


footer .companyname .companynameend{
    font-size: 13px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

footer .companyaddress p{
    text-align: center;
}



footer .footerheading h1 i{
    font-size: 45px;
}

footer .companyicons i{
    padding-left: 40px;
}

footer .companyicons{
    padding-top: 50px;
    padding-left: 200px;
}


@media only screen and (max-width: 2560px) and (min-width: 2401px) {
    .navbar-nav{
        padding-left: 42vw;
    }

    .nav-item{
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 20px;
        padding-left: 50px;
        
        font-size: 30px;
    }

    .about {
        padding-top: 80px;
        padding-left: 350px;
        padding-right: 350px;
    }
    
    .about .card-title{
        font-size: 90px;
        padding-left: 30px;
        padding-right: 10px;
    }
    
    .about h3{
        font-family: 'Krub', sans-serif;
        padding-bottom: 50px;
    }
    
    
    .aboutfirst .card-text{
        font-family: 'Cormorant Garamond', serif;
        font-size: 25px;
    }
    
    .companyteam{
        padding-left: 300px;
        padding-right: 100px;
    }
    
    .companyteam .card{
        width: 800px;
        border: none;
    }
    
    .companyteam .firstteammember{
        padding-left: 80px;
    }
    
    .companyteam .secondteammember{
        padding-right: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 180px;
        width: 180px;
    }

    .services {
        padding-top: 50px;
        padding-left: 350px;
    }
    
    .services .card-title{
        font-size: 90px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    
    .companyservices .card-text{
        font-size: 25px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 300px;
    }


    
}

@media only screen and (max-width: 2400px) and (min-width: 2201px) {
    .navbar-nav{
        padding-left: 42vw;
    }

    .nav-item{
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 20px;
        padding-left: 50px;
        
        font-size: 30px;
    }

    .about {
        padding-top: 80px;
        padding-left: 350px;
        padding-right: 350px;
    }
    
    .about .card-title{
        font-size: 90px;
        padding-left: 30px;
        padding-right: 10px;
    }
    
    .about h3{
        font-family: 'Krub', sans-serif;
        padding-bottom: 50px;
    }
    
    
    .aboutfirst .card-text{
        font-family: 'Cormorant Garamond', serif;
        font-size: 25px;
    }
    
    .companyteam{
        padding-left: 300px;
        padding-right: 100px;
    }
    
    .companyteam .card{
        width: 800px;
        border: none;
    }
    
    .companyteam .firstteammember{
        padding-left: 80px;
    }
    
    .companyteam .secondteammember{
        padding-right: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 180px;
        width: 180px;
    }

    .services {
        padding-top: 50px;
        padding-left: 340px;
    }
    
    .services .card-title{
        font-size: 90px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    
    .companyservices .card-text{
        font-size: 25px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 300px;
    }
}

@media only screen and (max-width: 2200px) and (min-width: 2001px) {
    .navbar-nav{
        padding-left: 38vw;
    }

    .nav-item{
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 20px;
        padding-left: 50px;
        
        font-size: 30px;
    }

    .about {
        padding-top: 80px;
        padding-left: 270px;
        padding-right: 270px;
    }
    
    .about .card-title{
        font-size: 90px;
        padding-left: 30px;
        padding-right: 10px;
    }
    
    .about h3{
        font-family: 'Krub', sans-serif;
        padding-bottom: 50px;
    }
    
    
    .aboutfirst .card-text{
        font-family: 'Cormorant Garamond', serif;
        font-size: 25px;
    }
    
    .companyteam{
        padding-left: 300px;
        padding-right: 100px;
    }
    
    .companyteam .card{
        width: 800px;
        border: none;
    }
    
    .companyteam .firstteammember{
        padding-left: 80px;
    }
    
    .companyteam .secondteammember{
        padding-right: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 180px;
        width: 180px;
    }

    .services {
        padding-top: 50px;
        padding-left: 270px;
    }
    
    .services .card-title{
        font-size: 90px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    
    .companyservices .card-text{
        font-size: 25px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 300px;
    }

    footer h1{
        font-family: 'Playfair Display SC', serif;
    }
    
    
    
    footer .companyname p{
        font-size: 22px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    
    footer .companyname .companynameend{
        font-size: 13px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    footer .companyaddress p{
        text-align: center;
    }
    
    
    
    footer .footerheading h1 i{
        font-size: 45px;
    }
    
    footer .companyicons i{
        padding-left: 40px;
    }
    
    footer .companyicons{
        padding-top: 50px;
        padding-left: 200px;
    }
}




@media only screen and (max-width: 2000px) and (min-width: 1901px) {
    .navbar-nav{
        padding-left: 35vw;
    }

    .nav-item{
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 20px;
        padding-left: 50px;
        
        font-size: 25px;
    }

    .about {
        padding-top: 80px;
        padding-left: 230px;
        padding-right: 230px;
    }
    
    .about .card-title{
        font-size: 70px;
        padding-left: 30px;
        padding-right: 10px;
    }
    
    .about h3{
        font-family: 'Krub', sans-serif;
        padding-bottom: 50px;
    }
    
    
    .aboutfirst .card-text{
        font-family: 'Cormorant Garamond', serif;
        font-size: 25px;
    }
    
    .companyteam{
        padding-left: 200px;
        padding-right: 100px;
    }
    
    .companyteam .card{
        width: 800px;
        border: none;
    }
    
    .companyteam .firstteammember{
        padding-left: 80px;
    }
    
    .companyteam .secondteammember{
        padding-right: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 180px;
        width: 180px;
    }

    .services {
        padding-top: 50px;
        padding-left: 230px;
    }
    
    .services .card-title{
        font-size: 70px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    
    .companyservices .card-text{
        font-size: 25px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 300px;
    }

    footer h1{
        font-family: 'Playfair Display SC', serif;
    }
    
    
    
    footer .companyname p{
        font-size: 22px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    
    footer .companyname .companynameend{
        font-size: 13px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    footer .companyaddress p{
        text-align: center;
    }
    
    
    
    footer .footerheading h1 i{
        font-size: 45px;
    }
    
    footer .companyicons i{
        padding-left: 40px;
    }
    
    footer .companyicons{
        padding-top: 50px;
        padding-left: 200px;
    }
}

@media only screen and (max-width: 1900px) and (min-width: 1801px) {
    .navbar-nav{
        padding-left: 35vw;
    }

    .nav-item{
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 20px;
        padding-left: 50px;
        
        font-size: 25px;
    }

    .about {
        padding-top: 80px;
        padding-left: 230px;
        padding-right: 230px;
    }
    
    .about .card-title{
        font-size: 70px;
        padding-left: 30px;
        padding-right: 10px;
    }
    
    .about h3{
        font-family: 'Krub', sans-serif;
        padding-bottom: 50px;
    }
    
    
    .aboutfirst .card-text{
        font-family: 'Cormorant Garamond', serif;
        font-size: 22px;
    }
    
    .companyteam{
        padding-left: 160px;
        padding-right: 100px;
    }
    
    .companyteam .card{
        width: 800px;
        border: none;
    }
    
    .companyteam .firstteammember{
        padding-left: 80px;
    }
    
    .companyteam .secondteammember{
        padding-right: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 180px;
        width: 180px;
    }

    .services {
        padding-top: 50px;
        padding-left: 230px;
    }
    
    .services .card-title{
        font-size: 70px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    
    .companyservices .card-text{
        font-size: 22px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 230px;
    }

    footer h1{
        font-family: 'Playfair Display SC', serif;
    }
    
    
    
    footer .companyname p{
        font-size: 22px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    
    footer .companyname .companynameend{
        font-size: 13px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    footer .companyaddress p{
        text-align: center;
    }
    
    
    
    footer .footerheading h1 i{
        font-size: 45px;
    }
    
    footer .companyicons i{
        padding-left: 40px;
    }
    
    footer .companyicons{
        padding-top: 50px;
        padding-left: 200px;
    }
}

@media only screen and (max-width: 1800px) and (min-width: 1701px) {
    .navbar-nav{
        padding-left: 32vw;
    }

    .nav-item{
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 20px;
        padding-left: 50px;
        
        font-size: 25px;
    }

    .about {
        padding-top: 80px;
        padding-left: 230px;
        padding-right: 230px;
    }
    
    .about .card-title{
        font-size: 70px;
        padding-left: 30px;
        padding-right: 10px;
    }
    
    .about h3{
        font-family: 'Krub', sans-serif;
        padding-bottom: 50px;
    }
    
    
    .aboutfirst .card-text{
        font-family: 'Cormorant Garamond', serif;
        font-size: 22px;
    }
    
    .companyteam{
        padding-left: 130px;
        padding-right: 100px;
    }
    
    .companyteam .card{
        width: 800px;
        border: none;
    }
    
    .companyteam .firstteammember{
        padding-left: 80px;
    }
    
    .companyteam .secondteammember{
        padding-right: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 180px;
        width: 180px;
    }

    .services {
        padding-top: 50px;
        padding-left: 230px;
    }
    
    .services .card-title{
        font-size: 70px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    
    .companyservices .card-text{
        font-size: 22px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 230px;
    }

    footer h1{
        font-family: 'Playfair Display SC', serif;
    }
    
    
    
    footer .companyname p{
        font-size: 22px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    
    footer .companyname .companynameend{
        font-size: 13px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    footer .companyaddress p{
        text-align: center;
    }
    
    
    
    footer .footerheading h1 i{
        font-size: 45px;
    }
    
    footer .companyicons i{
        padding-left: 40px;
    }
    
    footer .companyicons{
        padding-top: 50px;
        padding-left: 200px;
    }
}

@media only screen and (max-width: 1700px) and (min-width: 1600px) {
    .navbar-nav{
        padding-left: 30vw;
    }

    .nav-item{
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 20px;
        padding-left: 50px;
        
        font-size: 23px;
    }

    .about {
        padding-top: 80px;
        padding-left: 230px;
        padding-right: 230px;
    }
    
    .about .card-title{
        font-size: 70px;
        padding-left: 30px;
        padding-right: 10px;
    }
    
    .about h3{
        font-family: 'Krub', sans-serif;
        padding-bottom: 50px;
    }
    
    
    .aboutfirst .card-text{
        font-family: 'Cormorant Garamond', serif;
        font-size: 20px;
    }
    
    .companyteam{
        padding-left: 60px;
        padding-right: 100px;
    }
    
    .companyteam .card{
        width: 800px;
        border: none;
    }
    
    .companyteam .firstteammember{
        padding-left: 80px;
    }
    
    .companyteam .secondteammember{
        padding-right: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 180px;
        width: 180px;
    }

    .services {
        padding-top: 50px;
        padding-left: 230px;
    }
    
    .services .card-title{
        font-size: 70px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    
    .companyservices .card-text{
        font-size: 20px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 230px;
    }

    footer h1{
        font-family: 'Playfair Display SC', serif;
    }
    
    
    
    footer .companyname p{
        font-size: 22px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    
    footer .companyname .companynameend{
        font-size: 13px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    footer .companyaddress p{
        text-align: center;
    }
    
    
    
    footer .footerheading h1 i{
        font-size: 45px;
    }
    
    footer .companyicons i{
        padding-left: 40px;
    }
    
    footer .companyicons{
        padding-top: 50px;
        padding-left: 200px;
    }
}

@media only screen and (max-width: 1599px) and (min-width: 1500px) {
    .navbar-nav{
        padding-left: 35vw;
    }

    .nav-item{
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        
        font-size: 20px;
    }

    .about {
        padding-top: 80px;
        padding-left: 230px;
        padding-right: 200px;
    }
    
    .about .card-title{
        font-size: 60px;
        padding-left: 30px;
        padding-right: 10px;
    }
    
    .about h3{
        font-family: 'Krub', sans-serif;
        padding-bottom: 50px;
    }
    
    
    .aboutfirst .card-text{
        font-family: 'Cormorant Garamond', serif;
        font-size: 20px;
    }
    
    .companyteam{
        padding-left: 60px;
        padding-right: 80px;
    }
    
    .companyteam .card{
        width: 700px;
        border: none;
    }
    
    .companyteam .firstteammember{
        padding-left: 70px;
    }
    
    .companyteam .secondteammember{
        padding-right: 70px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 180px;
        width: 180px;
    }

    .services {
        padding-top: 50px;
        padding-left: 230px;
    }
    
    .services .card-title{
        font-size: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    
    .companyservices .card-text{
        font-size: 20px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 200px;
    }

    footer h1{
        font-family: 'Playfair Display SC', serif;
    }
    
    
    
    footer .companyname p{
        font-size: 22px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    
    footer .companyname .companynameend{
        font-size: 13px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    footer .companyaddress p{
        text-align: center;
    }
    
    
    
    footer .footerheading h1 i{
        font-size: 45px;
    }
    
    footer .companyicons i{
        padding-left: 40px;
    }
    
    footer .companyicons{
        padding-top: 50px;
        padding-left: 200px;
    }
}


@media only screen and (max-width: 1499px) and (min-width: 1351px) {
    .navbar-nav{
        padding-left: 32vw;
    }

    .nav-item{
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        
        font-size: 20px;
    }

    .about {
        padding-top: 80px;
        padding-left: 180px;
        padding-right: 180px;
    }
    
    .about .card-title{
        font-size: 60px;
        padding-left: 30px;
        padding-right: 10px;
    }
    
    .about h3{
        font-family: 'Krub', sans-serif;
        padding-bottom: 50px;
    }
    
    
    .aboutfirst .card-text{
        font-family: 'Cormorant Garamond', serif;
        font-size: 18px;
    }
    
    .companyteam{
        padding-left: 60px;
        padding-right: 100px;
    }
    
    .companyteam .card{
        width: 650px;
        border: none;
    }
    
    .companyteam .firstteammember{
        padding-left: 80px;
    }
    
    .companyteam .secondteammember{
        padding-right: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 180px;
        width: 180px;
    }

    .services {
        padding-top: 30px;
        padding-left: 180px;
    }
    
    .services .card-title{
        font-size: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    
    .companyservices .card-text{
        font-size: 18px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 200px;
    }

    footer h1{
        font-family: 'Playfair Display SC', serif;
    }
    
    
    
    footer .companyname p{
        font-size: 22px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    
    footer .companyname .companynameend{
        font-size: 13px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    footer .companyaddress p{
        text-align: center;
    }
    
    
    
    footer .footerheading h1 i{
        font-size: 45px;
    }
    
    footer .companyicons i{
        padding-left: 40px;
    }
    
    footer .companyicons{
        padding-top: 50px;
        padding-left: 150px;
    }
}

@media only screen and (max-width: 1350px) and (min-width: 1200px) {
    .navbar-nav{
        padding-left: 32vw;
    }

    .nav-item{
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        
        font-size: 20px;
    }

    .about {
        padding-top: 80px;
        padding-left: 150px;
        padding-right: 150px;
    }
    
    .about .card-title{
        font-size: 50px;
        padding-left: 30px;
        padding-right: 10px;
    }
    
    .about h3{
        font-family: 'Krub', sans-serif;
        padding-bottom: 50px;
    }
    
    
    .aboutfirst .card-text{
        font-family: 'Cormorant Garamond', serif;
        font-size: 18px;
    }
    
    .companyteam{
        padding-left: 40px;
        padding-right: 70px;
    }
    
    .companyteam .card{
        width: 600px;
        border: none;
    }
    
    .companyteam .firstteammember{
        padding-left: 80px;
    }
    
    .companyteam .secondteammember{
        padding-right: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 150px;
        width: 150px;
    }

    .subservices{
        padding-left: 300px;
        padding-right: 300px;
        padding-bottom: 100px;
        
    }

    .services {
        padding-top: 30px;
        padding-left: 180px;
        padding-right: 0px;
    }
    
    .services .card-title{
        font-size: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    
    .companyservices .card-text{
        font-size: 18px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 170px;
    }

    footer h1{
        font-family: 'Playfair Display SC', serif;
    }
    
    
    
    footer .companyname p{
        font-size: 22px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    
    footer .companyname .companynameend{
        font-size: 13px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    footer .companyaddress p{
        text-align: center;
    }
    
    
    
    footer .footerheading h1 i{
        font-size: 45px;
    }
    
    footer .companyicons i{
        padding-left: 40px;
    }
    
    footer .companyicons{
        padding-top: 50px;
        padding-left: 150px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 1070px) {
    .navbar-nav{
        padding-left: 20vw;
    }

    .nav-item{
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        
        font-size: 20px;
    }

    .about {
        padding-top: 80px;
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .about .card-title{
        font-size: 45px;
        padding-left: 30px;
        padding-right: 10px;
    }
    
    .about h3{
        font-family: 'Krub', sans-serif;
        padding-bottom: 50px;
    }
    
    
    .aboutfirst .card-text{
        font-family: 'Cormorant Garamond', serif;
        font-size: 16px;
    }
    
    .companyteam{
        padding-left: 30px;
        padding-right: 70px;
    }
    
    .companyteam .card{
        width: 550px;
        border: none;
    }
    
    .companyteam .firstteammember{
        padding-left: 80px;
    }
    
    .companyteam .secondteammember{
        padding-right: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 150px;
        width: 150px;
    }

    .subservices{
        padding-left: 250px;
        padding-right: 250px;
        padding-bottom: 100px;
        
    }

    .services {
        padding-top: 30px;
        padding-left: 130px;
        padding-right: 0px;
    }
    
    .services .card-title{
        font-size: 45px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    
    .companyservices .card-text{
        font-size: 17px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 130px;
    }

    footer h1{
        font-family: 'Playfair Display SC', serif;
    }
    
    
    
    footer .companyname p{
        font-size: 22px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    
    footer .companyname .companynameend{
        font-size: 13px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    footer .companyaddress p{
        text-align: center;
    }
    
    
    
    footer .footerheading h1 i{
        font-size: 45px;
    }
    
    footer .companyicons i{
        padding-left: 40px;
    }
    
    footer .companyicons{
        padding-top: 50px;
        padding-left: 100px;
    }
}

@media only screen and (max-width: 1069px) and (min-width: 1024px) {
    .navbar-nav{
        padding-left: 20vw;
    }

    .nav-item{
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        
        font-size: 20px;
    }

    .about {
        padding-top: 80px;
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .about .card-title{
        font-size: 45px;
        padding-left: 30px;
        padding-right: 10px;
    }
    
    .about h3{
        font-family: 'Krub', sans-serif;
        padding-bottom: 50px;
    }
    
    
    .aboutfirst .card-text{
        font-family: 'Cormorant Garamond', serif;
        font-size: 16px;
    }
    
    .companyteam{
        padding-left: 30px;
        padding-right: 70px;
    }
    
    .companyteam .card{
        width: 500px;
        border: none;
    }
    
    .companyteam .firstteammember{
        padding-left: 80px;
    }
    
    .companyteam .secondteammember{
        padding-right: 80px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 150px;
        width: 150px;
    }

    .subservices{
        padding-left: 250px;
        padding-right: 250px;
        padding-bottom: 100px;
        
    }

    .services {
        padding-top: 10px;
        padding-left: 130px;
        padding-right: 0px;
    }
    
    .services .card-title{
        font-size: 45px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    
    .companyservices .card-text{
        font-size: 17px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 130px;
    }

    footer h1{
        font-family: 'Playfair Display SC', serif;
    }
    
    
    
    footer .companyname p{
        font-size: 22px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    
    footer .companyname .companynameend{
        font-size: 13px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    footer .companyaddress p{
        text-align: center;
    }
    
    
    
    footer .footerheading h1 i{
        font-size: 45px;
    }
    
    footer .companyicons i{
        padding-left: 40px;
    }
    
    footer .companyicons{
        padding-top: 50px;
        padding-left: 100px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 896px) {
    .navbar-nav{
        padding-left: 0vw;
        align-items: center;
    }

    .nav-item{
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        
        font-size: 20px;
    }

    .navbarlogo img{
        width: 140px;
        height: 65px;
    }

    .about {
        padding-top: 40px;
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .about .card-title{
        font-size: 40px;
        padding-left: 30px;
        padding-right: 10px;
    }
    
    .about h3{
        font-family: 'Krub', sans-serif;
        padding-bottom: 50px;
    }
    
    
    .aboutfirst .card-text{
        font-family: 'Cormorant Garamond', serif;
        font-size: 16px;
    }
    
    .companyteam{
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .companyteam .card{
        width: 400px;
        border: none;
    }
    
    .companyteam .firstteammember{
        padding-left: 50px;
    }

    .companyteam h4 {
        font-size: 20px;
    }

    .companyteam h5 {
        font-size: 15px;
    }
    
    .companyteam .secondteammember{
        padding-right: 50px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 150px;
        width: 150px;
    }

    .subservices{
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 70px;
        
    }

    .services {
        padding-top: 5px;
        padding-left: 100px;
        padding-right: 0px;
    }
    
    .services .card-title{
        font-size: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    
    .companyservices .card-text{
        font-size: 17px;
    }

    .services .card-body{
        padding-left: 80px;
        padding-right: 100px;
    }

    footer h1{
        font-family: 'Playfair Display SC', serif;
    }
    
    
    
    footer .companyname p{
        font-size: 22px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    
    footer .companyname .companynameend{
        font-size: 13px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    footer .companyaddress p{
        text-align: center;
    }


    
    
    
    footer .footerheading h1 i{
        font-size: 0px;
        display: none;
    }
    
    footer .companyicons i{
        padding-left: 40px;
    }
    
    footer .companyicons{
        padding-top: 50px;
        padding-left: 0px;
        padding-right: 20px;
    }
}


@media only screen and (max-width: 895px) and (min-width: 768px) {
    .navbar-nav{
        padding-left: 0vw;
        align-items: center;
    }

    .nav-item{
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        
        font-size: 20px;
    }

    #navbarmain{
    
        padding-right: 100px;
        padding-left: 80px;
      }

    .navbarlogo img{
        width: 140px;
        height: 65px;
    }

    .about {
        padding-top: 40px;
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .about .card-title{
        font-size: 35px;
        padding-left: 30px;
        padding-right: 10px;
    }
    
    .about h3{
        font-family: 'Krub', sans-serif;
        padding-bottom: 50px;
    }
    
    
    .aboutfirst .card-text{
        font-family: 'Cormorant Garamond', serif;
        font-size: 16px;
    }
    
    .companyteam{
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .companyteam .card{
        width: 350px;
        border: none;
    }
    
    .companyteam .firstteammember{
        padding-left: 10px;
    }

    .companyteam h4 {
        font-size: 15px;
    }

    .companyteam h5 {
        font-size: 15px;
    }
    
    .companyteam .secondteammember{
        padding-right: 10px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 150px;
        width: 150px;
    }

    .subservices{
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 70px;
        
    }

    .services {
        padding-top: 5px;
        padding-left: 100px;
        padding-right: 0px;
    }
    
    .services .card-title{
        font-size: 35px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    
    .companyservices .card-text{
        font-size: 16px;
    }

    .services .card-body{
        padding-left: 50px;
        padding-right: 80px;
    }

    footer h1{
        font-family: 'Playfair Display SC', serif;
    }
    
    
    
    footer .companyname p{
        font-size: 22px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    
    footer .companyname .companynameend{
        font-size: 13px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    footer .companyaddress p{
        text-align: center;
    }


    
    
    
    footer .footerheading h1 i{
        font-size: 0px;
        display: none;
    }
    
    footer .companyicons i{
        padding-left: 40px;
    }
    
    footer .companyicons{
        padding-top: 50px;
        padding-left: 0px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 600px) {
    .navbar-nav{
        padding-left: 0vw;
        align-items: center;
    }

    .nav-item{
        padding-top: 15px;
        padding-right: 20px;
        padding-bottom: 15px;
        padding-left: 20px;
        
        font-size: 17px;
    }

    .navbarlogo img{
        width: 140px;
        height: 65px;
    }

    #navbarmain{
    
        padding-right: 100px;
        padding-left: 80px;
    }

    .about {
        padding-top: 40px;
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .about .card-title{
        font-size: 35px;
        padding-left: 30px;
        padding-right: 10px;
    }
    
    .about h3{
        font-family: 'Krub', sans-serif;
        padding-bottom: 50px;
    }
    
    
    .aboutfirst .card-text{
        font-family: 'Cormorant Garamond', serif;
        font-size: 16px;
    }
    
    .companyteam{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .companyteam .card{
        width: 600px;
        border: none;
    }
    
    .companyteam .firstteammember{
        padding-left: 0px;
    }

    .companyteam h4 {
        font-size: 15px;
    }

    .companyteam h5 {
        font-size: 15px;
    }
    
    .companyteam .secondteammember{
        padding-right: 5px;
    }

    .subservices .firstservice, .subservices .secondservice, 
    .subservices .thirdservice, .subservices .fourthservice{
        height: 150px;
        width: 150px;
    }

    .subservices{
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 40px;
        
    }

    .subservices .col{
        padding-bottom: 30px;
    }

    .services {
        padding-top: 5px;
        padding-left: 100px;
        padding-right: 0px;
    }
    
    .services .card-title{
        font-size: 35px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services h3{
        padding-bottom: 50px;
    }
    
    
    .companyservices .card-text{
        font-size: 16px;
    }

    .services .card-body{
        padding-left: 0px;
        padding-right: 80px;
    }

    footer h1{
        font-family: 'Playfair Display SC', serif;
    }
    
    
    
    footer .companyname p{
        font-size: 22px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    
    footer .companyname .companynameend{
        font-size: 13px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
    
    footer .companyaddress p{
        text-align: center;
    }


    
    
    
    footer .footerheading h1 i{
        font-size: 0px;
        display: none;
    }
    
    footer .companyicons i{
        padding-left: 40px;
    }
    
    footer .companyicons{
        padding-top: 50px;
        padding-left: 0px;
        padding-right: 20px;
    }
}