.nav-item{
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-left: 50px;
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    
    font-size: 20px;
}

.nav-item a:link{
    color: #000;
    background-color: transparent;
    text-decoration: none;
}

#navbarmain{
    
    padding-right: 80px;
    padding-left: 80px;
}

.navbarlogo img{
    width: 165px;
    height: 70px;
}


.carousel .carousel-indicators button {

   width: 15px;
   height: 15px;
   border-radius: 100%;
   border: none;
   
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f8f8f8' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f8f8f8' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    }

/* .carousel-item{
    height: 595px;
} */




.project {
    padding-top: 80px;
    padding-left: 230px;
}

.project .card-title{
    font-size: 52px;
    font-family: 'Playfair Display SC', serif;
    padding-left: 25px;
    padding-right: 25px;
}

.project h3{
    font-family: 'Playfair Display SC', serif;
    padding-bottom: 50px;
}




.projectfirst .projectwidth{
    max-width: 1000px;
}

.projectfirst h4 .card-text{
    font-family: 'Cormorant Garamond', serif;
    padding-right: 40px;
    font-size: 20px;
    line-height: 30px;
}


.projectfirst {
    border: none;
}

.projectfirst img:hover{
    filter: grayscale(100%);
} 





.projectsecond .projectwidth{
    max-width: 1000px;
}
.projectsecond h4 .card-text{
    font-family: 'Cormorant Garamond', serif;
    padding-right: 40px;
    font-size: 20px;
    line-height: 30px;
}


.projectsecond {
    border: none;
    padding-top: 100px;
    padding-bottom: 100px;
}

.projectsecond img:hover{
    filter: grayscale(100%);
} 








.projectthird .projectwidth{
    max-width: 1000px;
}
.projectthird h4 .card-text{
    font-family: 'Cormorant Garamond', serif;
    padding-right: 40px;
    font-size: 20px;
    line-height: 30px;
}


.projectthird {
    border: none;
}

.projectthird img:hover{
    filter: grayscale(100%);
} 





.project .viewallpro{
    padding-top: 60px;
    padding-left: 25px;
}

.project .viewallpro a{
    color: #000;
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
}

.companyimage{
    background-image: url(../Images/homepage/HOME_PAGE_LAST_IMAGE_\(BEFORE_FOOTER\).jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1910px 1300px;
}


/* background-image: url(../Images/homepage/HOME_PAGE_LAST_IMAGE_\(BEFORE_FOOTER\).jpg);
    background-attachment: fixed;
    background-size: cover; */

    .icons i{
        padding: 20px;
    }

footer h1{
    font-family: 'Playfair Display SC', serif;
}



footer .companyname p{
    font-size: 22px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}


footer .companyname .companynameend{
    font-size: 13px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

footer .companyaddress p{
    text-align: center;
}



footer .footerheading h1 i{
    font-size: 45px;
}

footer .companyicons i{
    padding-left: 40px;
}

footer .companyicons{
    padding-top: 50px;
    padding-left: 200px;
}







/* media queries */

@media only screen and (max-width: 2560px) and (min-width: 2401px) {
    .nav-item{
        padding-top: 15px;
        padding-right: 50px;
        padding-bottom: 15px;
        padding-left: 50px;
        
        font-size: 20px;
    }
    
    .nav-item a:link{
        color: #000;
    }
    
    #navbarmain{
        
        padding-right: 80px;
        padding-left: 80px;
    }
    
    .navbarlogo img{
        width: 165px;
        height: 70px;
    }
    
    
    .carousel .carousel-indicators button {
    
       width: 15px;
       height: 15px;
       
    }
    
    
    
    
    .project {
        padding-top: 80px;
        padding-left: 650px;
    }
    
    .project .card-title{
        font-size: 55px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .project h3{
        padding-bottom: 50px;
    }
    
    
    
    
    .projectfirst .projectwidth{
        max-width: 1200px;
    }
    
    .projectfirst h4 .card-text{
        padding-right: 40px;
        font-size: 25px;
        line-height: 35px;
    }

    
    
    
    
    .projectsecond .projectwidth{
        max-width: 1200px;
    }
    .projectsecond h4 .card-text{
        padding-right: 40px;
        font-size: 25px;
        line-height: 35px;
    }
    
    
    .projectsecond {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    
    
    
    
    
    .projectthird .projectwidth{
        max-width: 1200px;
    }
    .projectthird h4 .card-text{
        padding-right: 40px;
        font-size: 25px;
        line-height: 35px;
    }
    
    
    

    
    .project .viewallpro{
        padding-top: 60px;
        padding-left: 25px;
    }
    
    .project .viewallpro a{
        color: #000;
        font-size: 20px;
    }
    
    .companyimage{
        background-size: 2570px 1500px;
    }
    
    
        .icons i{
            padding: 20px;
        }
    
    
    
    
}


@media only screen and (max-width: 2400px) and (min-width: 2201px) {
    .nav-item{
        padding-top: 15px;
        padding-right: 50px;
        padding-bottom: 15px;
        padding-left: 50px;
        
        font-size: 20px;
    }
    
    .nav-item a:link{
        color: #000;
    }
    
    #navbarmain{
        
        padding-right: 80px;
        padding-left: 80px;
    }
    
    .navbarlogo img{
        width: 165px;
        height: 70px;
    }
    
    
    .carousel .carousel-indicators button {
    
       width: 15px;
       height: 15px;
       
    }
    
    
    
    
    .project {
        padding-top: 80px;
        padding-left: 530px;
    }
    
    .project .card-title{
        font-size: 55px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .project h3{
        padding-bottom: 50px;
    }
    
    
    
    
    .projectfirst .projectwidth{
        max-width: 1200px;
    }
    
    .projectfirst h4 .card-text{
        padding-right: 40px;
        font-size: 25px;
        line-height: 35px;
    }

    
    
    
    
    .projectsecond .projectwidth{
        max-width: 1200px;
    }
    .projectsecond h4 .card-text{
        padding-right: 40px;
        font-size: 25px;
        line-height: 35px;
    }
    
    
    .projectsecond {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    
    
    
    
    
    .projectthird .projectwidth{
        max-width: 1200px;
    }
    .projectthird h4 .card-text{
        padding-right: 40px;
        font-size: 25px;
        line-height: 35px;
    }
    
    
    

    
    .project .viewallpro{
        padding-top: 60px;
        padding-left: 25px;
    }
    
    .project .viewallpro a{
        color: #000;
        font-size: 20px;
    }
    
    .companyimage{
        background-size: 2570px 1500px;
    }
    
    
        .icons i{
            padding: 20px;
        }
    
    
    
    
}


@media only screen and (max-width: 2200px) and (min-width: 2001px) {
    .nav-item{
        padding-top: 15px;
        padding-right: 50px;
        padding-bottom: 15px;
        padding-left: 50px;
        
        font-size: 20px;
    }
    
    .nav-item a:link{
        color: #000;
    }
    
    #navbarmain{
        
        padding-right: 80px;
        padding-left: 80px;
    }
    
    .navbarlogo img{
        width: 165px;
        height: 70px;
    }
    
    
    .carousel .carousel-indicators button {
    
       width: 15px;
       height: 15px;
       
    }
    
    
    
    
    .project {
        padding-top: 80px;
        padding-left: 580px;
    }
    
    .project .card-title{
        font-size: 52px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .project h3{
        padding-bottom: 50px;
    }
    
    
    
    
    .projectfirst .projectwidth{
        max-width: 1000px;
    }
    
    .projectfirst h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }

    
    
    
    
    .projectsecond .projectwidth{
        max-width: 1000px;
    }
    .projectsecond h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }
    
    
    .projectsecond {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    
    
    
    
    
    .projectthird .projectwidth{
        max-width: 1000px;
    }
    .projectthird h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }
    
    
    

    
    .project .viewallpro{
        padding-top: 60px;
        padding-left: 25px;
    }
    
    .project .viewallpro a{
        color: #000;
        font-size: 20px;
    }
    
    .companyimage{
        background-size: 2210px 1400px;
    }
    
    
        .icons i{
            padding: 20px;
        }
    
    
    
    
}


@media only screen and (max-width: 2000px) and (min-width: 1901px) {
    .nav-item{
        padding-top: 15px;
        padding-right: 50px;
        padding-bottom: 15px;
        padding-left: 50px;
        
        font-size: 20px;
    }
    
    .nav-item a:link{
        color: #000;
    }
    
    #navbarmain{
        
        padding-right: 80px;
        padding-left: 80px;
    }
    
    .navbarlogo img{
        width: 165px;
        height: 70px;
    }
    
    
    .carousel .carousel-indicators button {
    
       width: 15px;
       height: 15px;
       
    }
    
    
    
    
    .project {
        padding-top: 80px;
        padding-left: 530px;
    }
    
    .project .card-title{
        font-size: 52px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .project h3{
        padding-bottom: 50px;
    }
    
    
    
    
    .projectfirst .projectwidth{
        max-width: 1000px;
    }
    
    .projectfirst h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }

    
    
    
    
    .projectsecond .projectwidth{
        max-width: 1000px;
    }
    .projectsecond h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }
    
    
    .projectsecond {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    
    
    
    
    
    .projectthird .projectwidth{
        max-width: 1000px;
    }
    .projectthird h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }
    
    
    

    
    .project .viewallpro{
        padding-top: 60px;
        padding-left: 25px;
    }
    
    .project .viewallpro a{
        color: #000;
        font-size: 20px;
    }
    
    .companyimage{
        background-size: 2010px 1300px;
    }
    
    
        .icons i{
            padding: 20px;
        }
    
    
    
    
}


@media only screen and (max-width: 1900px) and (min-width: 1801px) {
    .nav-item{
        padding-top: 15px;
        padding-right: 50px;
        padding-bottom: 15px;
        padding-left: 50px;
        
        font-size: 20px;
    }
    
    .nav-item a:link{
        color: #000;
    }
    
    #navbarmain{
        
        padding-right: 80px;
        padding-left: 80px;
    }
    
    .navbarlogo img{
        width: 165px;
        height: 70px;
    }
    
    
    .carousel .carousel-indicators button {
    
       width: 15px;
       height: 15px;
       
    }
    
    
    
    
    .project {
        padding-top: 80px;
        padding-left: 500px;
    }
    
    .project .card-title{
        font-size: 52px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .project h3{
        padding-bottom: 50px;
    }
    
    
    
    
    .projectfirst .projectwidth{
        max-width: 1000px;
    }
    
    .projectfirst h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }

    
    
    
    
    .projectsecond .projectwidth{
        max-width: 1000px;
    }
    .projectsecond h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }
    
    
    .projectsecond {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    
    
    
    
    
    .projectthird .projectwidth{
        max-width: 1000px;
    }
    .projectthird h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }
    
    
    

    
    .project .viewallpro{
        padding-top: 60px;
        padding-left: 25px;
    }
    
    .project .viewallpro a{
        color: #000;
        font-size: 20px;
    }
    
    .companyimage{
        background-size: 1910px 1300px;
    }
    
    
        .icons i{
            padding: 20px;
        }
    
    
    
    
}


@media only screen and (max-width: 1800px) and (min-width: 1701px) {
    .nav-item{
        padding-top: 15px;
        padding-right: 50px;
        padding-bottom: 15px;
        padding-left: 50px;
        
        font-size: 20px;
    }
    
    .nav-item a:link{
        color: #000;
    }
    
    #navbarmain{
        
        padding-right: 80px;
        padding-left: 80px;
    }
    
    .navbarlogo img{
        width: 165px;
        height: 70px;
    }
    
    
    .carousel .carousel-indicators button {
    
       width: 15px;
       height: 15px;
       
    }
    
    
    
    
    .project {
        padding-top: 80px;
        padding-left: 400px;
    }
    
    .project .card-title{
        font-size: 52px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .project h3{
        padding-bottom: 50px;
    }
    
    
    
    
    .projectfirst .projectwidth{
        max-width: 1000px;
    }
    
    .projectfirst h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }

    
    
    
    
    .projectsecond .projectwidth{
        max-width: 1000px;
    }
    .projectsecond h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }
    
    
    .projectsecond {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    
    
    
    
    
    .projectthird .projectwidth{
        max-width: 1000px;
    }
    .projectthird h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }
    
    
    

    
    .project .viewallpro{
        padding-top: 60px;
        padding-left: 25px;
    }
    
    .project .viewallpro a{
        color: #000;
        font-size: 20px;
    }
    
    .companyimage{
        background-size: 1910px 1300px;
    }
    
    
        .icons i{
            padding: 20px;
        }
    
    
    
    
}


@media only screen and (max-width: 1700px) and (min-width: 1600px) {
    .nav-item{
        padding-top: 15px;
        padding-right: 50px;
        padding-bottom: 15px;
        padding-left: 50px;
        
        font-size: 20px;
    }
    
    .nav-item a:link{
        color: #000;
    }
    
    #navbarmain{
        
        padding-right: 80px;
        padding-left: 80px;
    }
    
    .navbarlogo img{
        width: 165px;
        height: 70px;
    }
    
    
    .carousel .carousel-indicators button {
    
       width: 15px;
       height: 15px;
       
    }
    
    
    
    
    .project {
        padding-top: 80px;
        padding-left: 340px;
    }
    
    .project .card-title{
        font-size: 52px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .project h3{
        padding-bottom: 50px;
    }
    
    
    
    
    .projectfirst .projectwidth{
        max-width: 1000px;
    }
    
    .projectfirst h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }

    
    
    
    
    .projectsecond .projectwidth{
        max-width: 1000px;
    }
    .projectsecond h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }
    
    
    .projectsecond {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    
    
    
    
    
    .projectthird .projectwidth{
        max-width: 1000px;
    }
    .projectthird h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }
    
    
    

    
    .project .viewallpro{
        padding-top: 60px;
        padding-left: 25px;
    }
    
    .project .viewallpro a{
        color: #000;
        font-size: 20px;
    }
    
    .companyimage{
        background-size: 1910px 1300px;
    }
    
    
        .icons i{
            padding: 20px;
        }
    
    
    
    
}


@media only screen and (max-width: 1600px) and (min-width: 1500px) {
    .nav-item{
        padding-top: 15px;
        padding-right: 50px;
        padding-bottom: 15px;
        padding-left: 50px;
        
        font-size: 20px;
    }
    
    .nav-item a:link{
        color: #000;
    }
    
    #navbarmain{
        
        padding-right: 80px;
        padding-left: 80px;
    }
    
    .navbarlogo img{
        width: 165px;
        height: 70px;
    }
    
    
    .carousel .carousel-indicators button {
    
       width: 15px;
       height: 15px;
       
    }
    
    
    
    
    .project {
        padding-top: 80px;
        padding-left: 300px;
    }
    
    .project .card-title{
        font-size: 52px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .project h3{
        padding-bottom: 50px;
    }
    
    
    
    
    .projectfirst .projectwidth{
        max-width: 1000px;
    }
    
    .projectfirst h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }

    
    
    
    
    .projectsecond .projectwidth{
        max-width: 1000px;
    }
    .projectsecond h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }
    
    
    .projectsecond {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    
    
    
    
    
    .projectthird .projectwidth{
        max-width: 1000px;
    }
    .projectthird h4 .card-text{
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
    }
    
    
    

    
    .project .viewallpro{
        padding-top: 60px;
        padding-left: 25px;
    }
    
    .project .viewallpro a{
        color: #000;
        font-size: 20px;
    }
    
    .companyimage{
        background-size: 1910px 1300px;
    }
    
    
        .icons i{
            padding: 20px;
        }
    
    
    
    
}


@media only screen and (max-width: 1350px) and (min-width: 1200px)  {
    .nav-item{
        padding-top: 15px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-left: 30px;
        
        font-size: 20px;
    }
    
    #navbarmain{
        
        padding-right: 60px;
        padding-left: 60px;
    }
    
    .navbarlogo img{
        width: 165px;
        height: 70px;
    }
    
    
    .project {
        padding-top: 80px;
        padding-left: 200px;
    }
    
    .project .card-title{
        font-size: 42px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .project h3{
        padding-bottom: 50px;
        font-size: 25px;
    }
    
    
    
    
    .projectfirst .projectwidth{
        max-width: 850px;
    }
    
    .projectfirst h4 .card-text{
        padding-right: 40px;
        font-size: 18px;
        line-height: 30px;
    }
    
    
    
    
    
    
    .projectsecond .projectwidth{
        max-width: 850px;
    }
    .projectsecond h4 .card-text{
        padding-right: 40px;
        font-size: 18px;
        line-height: 30px;
    }
    
    
    
    
    
    
    .projectthird .projectwidth{
        max-width: 850px;
    }
    .projectthird h4 .card-text{
        padding-right: 40px;
        font-size: 18px;
        line-height: 30px;
    }
    
    
    
    
    
    .project .viewallpro{
        padding-top: 55px;
        padding-left: 22px;
    }
    
    .project .viewallpro a{
        font-size: 18px;
    }
    



    .companyimage{
        background-size: 1600px 950px;
    }
    
        .icons i{
            padding: 20px;
        }
    
    
    
    
    footer .companyname p{
        font-size: 22px;
    }
    
    
    footer .companyname .companynameend{
        font-size: 13px;
    }
    
    
    footer .footerheading h1 i{
        font-size: 35px;
    }
    
    footer .companyicons i{
        padding-left: 30px;
    }
    
    footer .companyicons{
        padding-top: 50px;
        padding-left: 200px;
    }
    
    
}


@media only screen and (max-width: 1199px) and (min-width: 1070px)  {
    .nav-item{
        padding-top: 15px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-left: 30px;
        
        font-size: 20px;
    }
    
    #navbarmain{
        
        padding-right: 60px;
        padding-left: 60px;
    }
    
    .navbarlogo img{
        width: 165px;
        height: 70px;
    }
    
    
    .project {
        padding-top: 80px;
        padding-left: 125px;
    }
    
    .project .card-title{
        font-size: 42px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .project h3{
        padding-bottom: 50px;
        font-size: 25px;
    }
    
    
    
    
    .projectfirst .projectwidth{
        max-width: 850px;
    }
    
    .projectfirst h4 .card-text{
        padding-right: 40px;
        font-size: 18px;
        line-height: 30px;
    }
    
    
    
    
    
    
    .projectsecond .projectwidth{
        max-width: 850px;
    }
    .projectsecond h4 .card-text{
        padding-right: 40px;
        font-size: 18px;
        line-height: 30px;
    }
    
    
    
    
    
    
    .projectthird .projectwidth{
        max-width: 850px;
    }
    .projectthird h4 .card-text{
        padding-right: 40px;
        font-size: 18px;
        line-height: 30px;
    }
    
    
    
    
    
    .project .viewallpro{
        padding-top: 55px;
        padding-left: 22px;
    }
    
    .project .viewallpro a{
        font-size: 18px;
    }
    



    .companyimage{
        background-size: 1600px 950px;
    }
    
        .icons i{
            padding: 20px;
        }
    
    
    
    
        footer .companyname p{
            font-size: 22px;
        }
        
        
        footer .companyname .companynameend{
            font-size: 13px;
        }
    
        footer .companyaddress p{
            font-size: 13px;
        }
        
        
        footer .footerheading h1 i{
            font-size: 30px;
        }
        
        footer .companyicons i{
            padding-left: 20px;
        }
        
        footer .companyicons{
            padding-top: 50px;
            padding-left: 150px;
        }
    
        footer .copyright{
            font-size: 13px;
        }
    
    
}


@media only screen and (max-width: 1069px) and (min-width: 1024px)  {
    .nav-item{
        padding-top: 15px;
        padding-right: 25px;
        padding-bottom: 15px;
        padding-left: 25px;
        
        font-size: 20px;
    }
    
    #navbarmain{
        
        padding-right: 50px;
        padding-left: 50px;
    }
    
    .navbarlogo img{
        width: 140px;
        height: 60px;
    }
    
    
    .project {
        padding-top: 80px;
        padding-left: 170px;
    }
    
    .project .card-title{
        font-size: 33px;
        padding-left: 25px;
        padding-right: 5px;
    }
    
    .project h3{
        padding-bottom: 50px;
        font-size: 20px;
    }
    
    
    
    
    .projectfirst .projectwidth{
        max-width: 700px;
    }
    
    .projectfirst h4 .card-text{
        padding-right: 20px;
        font-size: 15px;
        line-height: 22px;
        padding-left: 0px;
    }

    
    
    
    
    
    
    .projectsecond .projectwidth{
        max-width: 700px;
    }
    .projectsecond h4 .card-text{
        padding-right: 40px;
        font-size: 15px;
        line-height: 22px;
    }
    
    
    
    
    
    
    .projectthird .projectwidth{
        max-width: 700px;
    }
    .projectthird h4 .card-text{
        padding-right: 40px;
        font-size: 15px;
        line-height: 22px;
    }
    
    
    
    
    
    .project .viewallpro{
        padding-top: 55px;
        padding-left: 22px;
    }
    
    .project .viewallpro a{
        font-size: 15px;
    }
    



    .companyimage{
        background-size: 1310px 950px;
    }
    
        .icons i{
            padding: 20px;
        }
    
    
    
    
    footer .companyname p{
        font-size: 22px;
    }
    
    
    footer .companyname .companynameend{
        font-size: 13px;
    }

    footer .companyaddress p{
        font-size: 13px;
    }
    
    
    footer .footerheading h1 i{
        font-size: 30px;
    }
    
    footer .companyicons i{
        padding-left: 20px;
    }
    
    footer .companyicons{
        padding-top: 50px;
        padding-left: 150px;
    }

    footer .copyright{
        font-size: 13px;
    }
    
    
}

@media only screen and (max-width: 1023px) and (min-width: 896px)  {
    .nav-item{
        padding-top: 12px;
        padding-right: 20px;
        padding-bottom: 12px;
        padding-left: 20px;
        
        font-size: 17px;
    }
    
    #navbarmain{
        
        padding-right: 40px;
        padding-left: 40px;
    }
    
    .navbarlogo img{
        width: 120px;
        height: 50px;
    }
    
    
    .project {
        padding-top: 80px;
        padding-left: 95px;
    }
    
    .project .card-title{
        font-size: 33px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .project h3{
        padding-bottom: 50px;
        font-size: 20px;
    }
    
    
    
    
    .projectfirst .projectwidth{
        max-width: 700px;
    }
    
    .projectfirst h4 .card-text{
        padding-right: 40px;
        font-size: 15px;
        line-height: 22px;
    }
    
    
    
    
    
    
    .projectsecond .projectwidth{
        max-width: 700px;
    }
    .projectsecond h4 .card-text{
        padding-right: 40px;
        font-size: 15px;
        line-height: 22px;
    }
    
    
    
    
    
    
    .projectthird .projectwidth{
        max-width: 700px;
    }
    .projectthird h4 .card-text{
        padding-right: 40px;
        font-size: 15px;
        line-height: 22px;
    }
    
    
    
    
    
    .project .viewallpro{
        padding-top: 55px;
        padding-left: 22px;
    }
    
    .project .viewallpro a{
        font-size: 15px;
    }
    



    .companyimage{
        background-size: 1030px 950px;
    }
    
        .icons i{
            padding: 20px;
        }
    
    
    
    
    footer .companyname p{
        font-size: 20px;
        text-align: center;
    }
    
    
    footer .companyname .companynameend{
        font-size: 12px;
        text-align: center;
    }

    footer .companyaddress p{
        font-size: 10px;
        text-align: center;
    }
    
    
    footer .footerheading h1 i{
        font-size: 15px;
        text-align: left;
        display: none;
    }
    
    footer .companyicons i{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    footer .companyicons{
        padding-top: 0px;
        padding-right: 0px;
        text-align: left;
        padding-left: 250px;
        
    }

    footer .copyright{
        font-size: 10px;
    }
    
    
}

@media only screen and (max-width: 895px) and (min-width: 768px)  {
    .nav-item{
        padding-top: 10px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
        
        font-size: 15px;
    }
    
    #navbarmain{
        
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .navbarlogo img{
        width: 120px;
        height: 50px;
    }
    
    
    .project {
        padding-top: 50px;
        padding-left: 80px;
    }
    
    .project .card-title{
        font-size: 28px;
        padding-left: 22px;
        padding-right: 22px;
    }
    
    .project h3{
        padding-bottom: 40px;
        font-size: 18px;
    }
    
    
    
    
    .projectfirst .projectwidth{
        max-width: 600px;
    }
    
    .projectfirst h4 .card-text{
        padding-right: 10px;
        font-size: 12px;
        line-height: 20px;
    }
    
    
    
    
    
    
    .projectsecond .projectwidth{
        max-width: 600px;
    }
    .projectsecond h4 .card-text{
        padding-right: 20px;
        font-size: 12px;
        line-height: 20px;
    }

    .projectsecond{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    
    
    
    
    
    .projectthird .projectwidth{
        max-width: 600px;
    }
    .projectthird h4 .card-text{
        padding-right: 15px;
        font-size: 12px;
        line-height: 20px;
    }
    
    
    
    
    
    .project .viewallpro{
        padding-top: 45px;
        padding-left: 18px;
    }
    
    .project .viewallpro a{
        font-size: 12px;
    }
    



    .companyimage{
        background-size: 900px 950px;
    }
    
        .icons i{
            padding: 20px;
        }
    
    
    
    
    footer .companyname p{
        font-size: 20px;
        text-align: center;
    }
    
    
    footer .companyname .companynameend{
        font-size: 12px;
        text-align: center;
    }

    footer .companyaddress p{
        font-size: 11px;
        text-align: center;
    }
    
    
    footer .footerheading h1 i{
        font-size: 15px;
        text-align: left;
        display: none;
    }
    
    footer .companyicons i{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    footer .companyicons{
        padding-top: 0px;
        padding-right: 0px;
        text-align: left;
        padding-left: 250px;
        
    }

    footer .copyright{
        font-size: 10px;
    }
    
    
}